<% include header %>
<link rel="stylesheet" type="text/css" href="dist/css/chatbot_custom.min.css" />
<link rel="stylesheet" type="text/css" href="dist/css/chatbot.min.css" />
<div id="demo">

	<div id="chatBot" style="overflow-y:scroll;">

		<div id="chatBotHistory"></div>
		<div id="chatBotThinkingIndicator"></div>
	</div>
	<div style="clear: both;">&nbsp;</div>
	<div>Suggestions</div>
	<div id="suggestionsContainer"></div>
	<div style="clear: both;">&nbsp;</div>
	<div id="chatBotCommandDescription"></div>
	<input id="humanInput" type="text" name="search" placeholder="Say something" spellcheck="true"/>
	<div class="button" onclick="if (!ChatBot.playConversation(sampleConversation,2000)) {alert('conversation already running');};">Play sample conversation!</div>
	<div class="button" onclick="$('#chatBotCommandDescription').slideToggle();" style="margin-right:10px">How to talk to me</div>
	<div style="clear: both;">&nbsp;</div>
</div>
<% include footer_ghobot %>
